body,
html {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
}

/* The alert message box */
.alert {
    padding: 20px;
    background-color: #4abd3d;
    /* Red */
    color: white;
    margin-bottom: 5px;
    opacity: 1;
    transition: opacity 0.6s;
    /* 600ms to fade out */
}

/* The close button */
.closebtn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
}

/* When moving the mouse over the close button */
.closebtn:hover {
    color: black;
}

.navbar {
    background-color: #FFFFFF;
    overflow: hidden;
    padding: 10px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar img {
    height: 50px;
}

.navbar a {
    color: #424551;
    margin: 0 10px;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 16px;
}

.header-menu {
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
    flex-direction: row;
    text-align: center;
}

.header-title {
    color: #424551;
    float: left;
    padding: 14px 16px;
    font-size: 24px;
}

.header-title span {
    color: #FF5A30;
}

.header-contacts {
    display: flex;
    align-items: center;
}

.header-contacts img {
    margin-right: 10px;
    width: 35px;
    height: 35px;
}

.header-contacts img:first-of-type {
    margin-right: 0px;
}

.header-contacts img:last-of-type {
    margin-right: 0px;
}

.header-contacts>* {
    margin-right: 20px;
}

.header-contacts {
    gap: 8px;
}

.main-header {
    position: relative;
    background-image: url('/static/images/1.png');
    height: 100vh;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-left: 100px;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
}

.content {
    position: relative;
    color: #fff;
    margin-left: 40px;
    margin-right: 40px;
}

.content h1 {
    font-family: Ubuntu;
    font-size: 72px;
    margin-bottom: 20px;
    font-weight: bold;
    line-height: 1.1;
}

.content h1 span {
    font-family: Ubuntu;
    color: #FF5A30;
    display: block;
}

.content p {
    font-family: Ubuntu;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    /* 33px */
    max-width: 600px;
}

.button {
    display: inline-block;
    font-family: Ubuntu;
    padding: 10px 20px;
    margin-right: 10px;
    margin-top: 10px;
    background-color: #FF5A30;
    color: white;
    text-decoration: none;
    font-size: 20px;
    border: 1px solid #FF5A30;
    border-radius: 5px;
}

.button:first-of-type {
    background-color: transparent;
    border: 1px solid white;
}

.button:hover {
    background-color: #e67e22;
}

.button.white:hover {
    background-color: #fff;
    color: #FF5A30;
}

.manipulators h2 {
    color: var(--gray-900, #1E212C);
    text-align: center;
    font-family: Ubuntu;
    font-size: 46px;
    font-style: normal;
    font-weight: 700;
    line-height: 130%;
    /* 59.8px */
    margin-top: 80px;
}

.manipulators p {
    color: #787A80;
    text-align: center;
    font-family: Ubuntu;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    /* 30px */
    margin-left: 10px;
    margin-right: 10px;
}

.manipulator-cards {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 20px;
    margin-top: 50px;
}

.manipulator-card {
    display: flex;
    width: 340px;
    height: auto;
    flex-direction: column;
    align-items: center;
    margin: 10px;
    background-color: #D7DADD;
    border-radius: 4px;
    overflow: hidden;
}

.manipulator-card img {
    width: 100%;
    height: auto;
    object-fit: cover;
}


.manipulator-card p {
    font-family: Ubuntu;
    font-size: 20px;
    line-height: 70%;
    color: #333;
    padding: 8px 20px;
    margin: 0;
}

.manipulator-card p:last-of-type {
    font-weight: bold;
    margin-bottom: 16px;
}

.manipulator-button {
    display: block;
    width: 228px;
    margin-bottom: 20px;
    background-color: #FF5A30;
    color: white;
    border: none;
    padding: 12px;
    text-align: center;
    font-family: Ubuntu;
    font-size: 20px;
    cursor: pointer;
    text-decoration: none;
    border-radius: 4px;
}


.manipulator-button:hover {
    background-color: #e67e22;
}

.call-to-action h2 {
    color: var(--gray-900, #1E212C);
    text-align: center;
    margin-top: 100px;
    font-family: Ubuntu;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: 100%;
    /* 48px */
}

.call-to-action p {
    color: var(--gray-900, #1E212C);
    font-family: Ubuntu;
    font-size: 46px;
    font-style: normal;
    font-weight: 700;
    line-height: 50%;
    text-align: center;
}




.icons-section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    text-align: center;
    padding: 20px 0;
    max-width: 85%;
    margin: 0 auto;
}

.icon-item {
    width: 25%;
    height: 40%;
    /*    margin: 0 2%;*/
    flex: none;
    /*    margin-right: 2%;*/
    /*    padding: 3%;*/
}

.icon-item img {
    width: 100%;
    height: 40%;
    margin-bottom: 20px;
}

.icon-item p {
    color: var(--gray-700, #787A80);
    text-align: center;
    font-family: Ubuntu;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
}

.icon-divider {
    height: 180px;
    width: 2px;
    background-image: url('/static/images/divider.png');
    /* Set the divider image */
    background-size: cover;
    margin: 0 20px;
}









.about-company {
    background-color: #f5f5f5;
    background-image: url('/static/images/background.jpg');
    width: auto;
    height: 100%;
    /*  height: 1100px;*/
    flex-shrink: 0;
    padding: 2% 3%;
}

.container {
    /*  max-width: 1200px;*/
    margin: 0 auto;
    padding: 0 15px;
}

.company-info h1 {
    color: var(--gray-900, #1E212C);
    text-align: center;
    height: 90px;
    font-family: Ubuntu;
    font-size: 46px;
    font-style: normal;
    font-weight: 700;
    line-height: 130%;
    /* 59.8px */
}

.company-info p {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-shrink: 0;
    color: #000;
    text-align: center;
    font-family: Ubuntu;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    /* 30px */
}

.company-info h2 {
    color: var(--gray-900, #1E212C);
    text-align: center;
    font-family: Ubuntu;
    font-size: 46px;
    font-style: normal;
    font-weight: 700;
    line-height: 130%;
    /* 59.8px */
    margin-top: 3%;
}

.company-advantages {
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
}


.advantage-item {
    margin-top: 2%;
}

.advantage-item img {
    width: 50px;
    height: 50px;
}

.advantage-item h3 {
    font-family: Ubuntu;
    color: #333;
    height: 30px;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 150%;
}

.advantage-item p {
    width: 285px;
    color: var(--gray-700, #787A80);
    text-align: center;
    font-family: Ubuntu;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 160%;
    /* 25.6px */
}



.customer-reviews,
.comment-submission {
    background-color: #fff;
    padding: 4%;
    /*  margin-top: 40px;*/
}

.customer-reviews h2,
.comment-submission h2 {
    color: var(--gray-900, #1E212C);
    text-align: center;
    font-family: Ubuntu;
    font-size: 46px;
    font-style: normal;
    font-weight: 700;
    line-height: 130%;
    /* 59.8px */
    height: 20%;
}


.reviews-container {
    margin-bottom: 0px;
}

.review {
    background-color: #fff;
    margin-bottom: 20px;
    transition: background-color 0.3s ease;
    margin-top: 2%;
    margin-left: 5%;
}

.review:hover {
    background-color: #f2f2f2;
}

.review-date {
    color: #000;
    font-family: Ubuntu;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 160%;
    /* 25.6px */
}

.review-content {
    color: #000;
    width: 100%;
    padding: 1%;
    font-family: Ubuntu;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 160%;
    /* 25.6px */
}

.comment-submission form {
    max-width: 100%;
    margin: 10% auto;
    display: flex;
    flex-direction: column;
}

/*  .input-row {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }*/

.input-wrap {
    margin-top: 0px;
    margin-bottom: 20px;
    flex: 1;
}

.input-wrap label {
    display: block;
    margin-bottom: 5px;
    color: #424551;
    font-family: Ubuntu;
    font-size: 16px;
}

/*  .input-wrap.full-width {
    flex-basis: 100%;
    margin-top: 10px;
  }*/

.input-wrap input[type="text"] {
    width: 90%;
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.input-wrap input[type="email"],
.input-wrap textarea {
    width: 90%;
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.input-wrap.full-width textarea {
    width: 90%;
}

.button-wrap {
    display: flex;
    justify-content: flex-end;
}

.comment-submission button {
    padding: 15px 40px;
    background-color: #FF5A30;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: auto;
}

.comment-submission textarea {
    width: calc(100% - 20px);
    resize: vertical;
}

.comment-submission h2 {
    color: var(--gray-900, #1E212C);
    text-align: center;
    font-family: Ubuntu;
    font-size: 28px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%;
    /* 42px */
    margin-bottom: 0px;
}








.contact-section {
    background: var(--gray-200, #F4F5F6);
    padding: 100px 0;
}

.contact-container {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    padding: 0 15px;
}

.contact-section h1 {
    color: #000;
    text-align: center;
    font-family: Ubuntu;
    font-size: 46px;
    font-style: normal;
    font-weight: 700;
    line-height: 130%;
    /* 59.8px */
}

.contact-details,
.contact-form {
    padding: 1%;
    margin-left: auto;
    margin-top: 5%;
}

.contact-details {
    width: calc(50% - 20px);
}

.contact-form {
    width: 40%;
    margin-left: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: var(--white, #FFF);
    border-radius: 4px;
    border: 1px solid var(--gray-300, #E5E8ED);
}

.button-wrap {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 7%;
}

.contact-form h2 {
    margin-bottom: 10%;
    text-align: center;
}

.contact-form label {
    display: block;
    margin-bottom: 4%;
}

.contact-form-form {
    width: 75%;
}

.contact-form input,
.contact-form textarea {
    width: 100%;
    padding: 3%;
    margin-bottom: 3%;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.contact-form button {
    padding: 15px 40px;
    background-color: var(--primary, #FF5A30);
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.contact-form button:hover {
    background-color: #e67e22;
}


.footer {
    background-color: var(--gray-900, #1E212C);
    color: white;
    padding: 4% 0;
    height: 20%;
}

.footer-content {
    display: flex;
    justify-content: space-around;
    align-items: start;
    max-width: 100%;
    margin: 0 auto;
    padding: 0 4%;
    flex-direction: row-reverse;
    align-items: center;
}

.footer-brand {
    font-family: Ubuntu;
    font-size: 28px;
    font-weight: 700;
    color: #FFF;
    text-align: left;
    /*  margin-top: 2%;
  margin-left: 10%;*/
    padding: 3%;
}

.footer-brand span {
    font-size: 28px;
    color: #FF5A30;
}

.footer-bottom {
    font-size: 12px;
    text-align: left;
    margin-top: 30px;
    font-weight: 400;
}

.stay-connected {
    text-align: left;
    margin-right: 10%;
    padding: 3%;
}

.stay-connected h4 {
    color: var(--white, #FFF);
    font-family: Ubuntu;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 0%;
    /* 36px */
}

.stay-connected p {
    color: var(--white, #FFF);
    font-family: Ubuntu;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 10%;
    /* 18px */
    opacity: 0.6;
    margin-bottom: 25px;
}

.newsletter {
    display: flex;
    justify-content: space-between;
    gap: 5px;
}

.newsletter input[type="email"] {
    flex-grow: 1;
    padding: 3% 5%;
    border: none;
    border-radius: 4px;
}

.newsletter button {
    padding: 3% 6%;
    background-color: var(--primary, #FF5A30);
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

@media only screen and (max-width: 768px) {

    body,
    html {
        font-size: 14px;
    }

    .call-to-action h2 {
        margin-top: 40px;
    }

    .main-header {
        position: relative;
        background-image: url('/static/images/1.png');
        /*    height: 75vh;*/
        background-size: cover;
        background-position: center;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        padding-left: 100px;
    }


    .navbar {
        flex-direction: column;
        padding: 10px 20px;
    }

    .header-title,
    .header-menu,
    .header-contacts {
        text-align: center;
        margin: 5px 0;

    }

    .main-header {
        padding-left: 20px;
        height: 75vh;
    }

    .content h1 {
        font-size: 40px;
    }

    .manipulator-cards {
        justify-content: center;
    }

    .manipulator-card {
        width: auto;
        margin: 10px;
    }

    .icons-section {
        max-width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: unset;
        /*    flex-wrap: nowrap;
    overflow-x: auto;
    padding: 10px; 
    flex-direction: row;*/
    }

    .icon-item {
        width: 50%;
    }

    .icon-divider {
        display: none;
    }

    .company-advantages {
        flex-direction: column;
    }

    /*  .company-advantages {
    flex-wrap: nowrap;
    overflow-x: auto;
    padding: 10px;
  }
*/
    /*  .advantage-item {
    flex: 0 0 auto;
    margin: 0 10px;
  }

  .advantage-item img {
    width: 40px;
    height: 40px;
  }*/

    /*  .company-advantages, .about-company {
    flex-direction: column;
    height: 1300px;
  }*/

    .review-content {
        width: auto;
    }

    .contact-container {
        flex-direction: column;
    }

    .contact-details,
    .contact-form {
        width: auto;
        margin: 10px 0;
    }

    .footer-content {
        flex-direction: column;
    }

    .stay-connected,
    .newsletter {
        text-align: center;
        margin: 10px 0;
    }
}